@use "./base" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  
  button {
    background-color: transparent;
    border: transparent;
    z-index: 3;

    @include for-tablets-up {
      display: none;
    }
  }
  
  ul {
    display: flex;
    gap: 40px;
    color: $neutral-600;
    
    @include for-phones-only {
      flex-direction: column;
      position: absolute;
      z-index: 2;
      right: 0;
      top: -20px;

      background-color: $neutral-100;
      height: 100vh;
      padding-top: 150px;
      padding-right: 40%;
      padding-left: 20px;
      transition: all 0.3s ease-in-out;
    }

    li {
      transition: all 0.3s;

      &:hover, &:active {
        color: $primary-300;
      }
    }

  }
}