@use "./base" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  button {
    background-color: transparent;
    border: transparent;

    @include for-tablets-up {
      display: none;
    }
  }
  
  ul {
    display: flex;
    gap: 40px;
    color: $neutral-600;
    
    @include for-phones-only {
      display: none;
    }

    li {
      transition: all 0.3s;

      &:hover, &:active {
        color: $primary-300;
      }
    }

  }
}